@page "/faq"

@rendermode InteractiveServer

<PageTitle>FAQ</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" Style="width:98vw" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <RadzenStack>
        <h1 style="color:white;text-align:center;font-weight:bold">FAQ</h1>
        <RadzenPanelMenu Multiple=true Style="border-radius:12px;max-width:1000px;text-wrap:wrap">
            <RadzenPanelMenuItem Text="Do we work with DougDoug?" >
                <RadzenPanelMenuItem/>
                <RadzenText Style="padding:10px" TextStyle="TextStyle.Subtitle2" Text="No we are an independent group from the community without any official support from DougDoug, the Monterey Bay Aquarium or any other organizations."/>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="How can I contribute?" >
                <RadzenPanelMenuItem/>
                <RadzenText Style="padding:10px" TextStyle="TextStyle.Subtitle2">Join our <a style="color:black" href="https://discord.gg/swfUbZ6NfE" target="_blank">Discord</a> or clone the <a style="color:black" href="https://github.com/orgs/Longliverosa/repositories" target="_blank">github repositories</a> and make a pullrequest.</RadzenText>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="What game engine is used?" >
                <RadzenPanelMenuItem/>
                <RadzenText Style="padding:10px" TextStyle="TextStyle.Subtitle2">We use the Godot game engine.</RadzenText>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Do I need to have any programming knowledge?" >
                <RadzenPanelMenuItem/>
                <RadzenText Style="padding:10px" TextStyle="TextStyle.Subtitle2">If you want to work on the game itself programming knowledge is useful. Otherwise you can always help with making art, game-design or other things that have to be done.</RadzenText>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenStack>
</RadzenStack>


@code {

}
