@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" Style="width:98vw" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <RadzenStack>
        <div style="margin:auto;width:600px;position:relative;background:black">
            <RadzenImage Path="RosaLooking.png" Style="border-radius:12px;width:100%" />
            <div style="width:100%;position:absolute;bottom:0px;top:0px;box-shadow: 0px 0px 10px 10px black" />
        </div>
        <h1 style="color:white;text-align:center;font-weight:bold">The Long Live Rosa Community Project</h1>
        <p></p>
        <a style="background-color:gray;color:white;border-radius:5px;height:40px;text-align:center;display: flex;justify-content: center;align-items: center;" href="/faq">Contribute</a>
    </RadzenStack>
</RadzenStack>


