@page "/goal"

@rendermode InteractiveServer

<PageTitle>The Goal</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" Style="width:98vw" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <RadzenStack>
        <h1 style="color:white;text-align:center;font-weight:bold">The Goal</h1>
        <h6 style="text-align:center;text-wrap:wrap;max-width:1200px">
            Together, as the DougDoug viewership community, we aim to collaboratively create a pixel‑art 2D puzzle-platformer where players control Rosa the sea otter as the protagonist. Built in Godot, this game will feature levels inspired by her life and her habitat—swimming through kelp forests, rescuing stranded pups, solving ecological puzzles tied to kelp‑forest conservation, and celebrating her playful and caring spirit.

        </h6>
        <h6 style="text-align:center;text-wrap:wrap;max-width:1200px">
            Key elements:<br />

            Puzzle-platformer mechanics: jump, swim, push and pull objects, navigate obstacles, and solve environmental challenges.<br />

            Pixel-art style: charming, handcrafted visuals created by the community.<br />

            Godot engine: chosen for its accessibility, strong 2D support, and vibrant community—making it an ideal platform for an open development process. The Godot community regularly collaborates on multiplayer jams, open-source tools, and group projects

        </h6>
    </RadzenStack>
</RadzenStack>
@code {

}
