@page "/whoarewe"

@rendermode InteractiveServer

<PageTitle>Who are we</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" Style="width:98vw" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <RadzenStack>
        <h1 style="color:white;text-align:center;font-weight:bold">Who are we</h1>
        <h6 style="text-align:center;text-wrap:wrap;width:800px">
            We are the DougDoug Community, united by our love for Rosa the sea otter and the joy of creating together. Through our Discord server, we’ve come together to work collaboratively on the Long Live Rosa game—an entirely community-driven tribute built in pixel art using the Godot engine.
            <br />
            <br />
            There is no official involvement from DougDoug (or his collaborators), the Monterey Bay Aquarium, or any other organisation or authority.
            <br />
            <br />
            <span style="color:white;font-weight:bold;font-size:20px">How to get involved</span>
            <br />
            Join our <a style="color:white" href="https://discord.gg/swfUbZ6NfE" target="_blank">Discord</a> to gain access to channels where you can contribute or just spectate.
            <br />
            Head over to the <a style="color:white" href="https://github.com/orgs/Longliverosa/repositories" target="_blank">github repositories</a> to contribute to the game or website.
            <br />
            Everyone is welcome—whether you're pitching art ideas, writing puzzles in Godot GDScript, composing sea‑shanties for bonus music, or helping moderate asset submission threads.
        </h6>
    </RadzenStack>
</RadzenStack>
@code {

}
