@page "/why"

@rendermode InteractiveServer

<PageTitle>Why</PageTitle>

<RadzenStack Orientation="Orientation.Horizontal" Style="width:98vw" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Center">
    <RadzenStack AlignItems="AlignItems.Center">
        <h1 style="color:white;text-align:center;font-weight:bold">Why</h1>
        <h5 style="text-align:center;text-wrap:wrap;width:800px">
            The <span style="font-weight:bold">Long Live Rosa</span> project is a tribute born from the loving spirit of DougDoug’s community, honoring Rosa—the legendary sea otter of the Monterey Bay Aquarium who lived from August 26, 1999 to June 5, 2024. Rosa wasn’t just any otter—she was the Aquarium’s oldest resident, a surrogate mother to 15 orphaned pups, and a charismatic ambassador for sea otter conservation. After her passing, DougDoug’s annual birthday and memorial streams raised over $1,048,000 to support the Aquarium and continue Rosa’s legacy.

            As viewers united in grief and celebration, the idea emerged: a 2D platformer game in memory of Rosa. The game would let players step into Rosa’s flippers—swimming through kelp forests, rescuing stranded pups, and restoring marine balance—drawing on her real-life role as a keystone species that helps maintain healthy kelp ecosystems. Developed as a community effort, this game would blend charm and conservation, allowing fans to celebrate her story, raise awareness for sea otter protection, and embody Rosa’s playful resilience. It’s a joyful, interactive way for the DougDoug community to keep honoring Rosa’s legacy every time they play.
        </h5>
        <RadzenImage Path="DougDougRosa.png" Style="border-radius:12px;width:400px"/>
    </RadzenStack>
</RadzenStack>
@code {

}
